<div>
<!--    <button @click="commitHistory()" class="btn btn-primary mt-2" :disabled="isLoading">-->
<!--        History-->
<!--    </button>-->

<!--    <button @click="repoStats()" class="btn btn-primary mt-2" :disabled="isLoading">-->
<!--        Stats-->
<!--    </button>-->

    <button @click="testCommits()" class="btn btn-primary mt-2" :disabled="isLoading">
        Test Commits
    </button>
</div>