<div>
    
    <div class="card" style="width: auto;">
        <ul v-for="user in contributorsData" class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="col-md-2">
                    <img :src=user.avatar_url class="img-fluid rounded-start" :alt=repoData.organization.login>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">{{user.login}}</h5>
                    <p class="card-text">{{user.contributions}} Contributions</p> 
                </div>
            </li>
        </ul>
        
        
        
        <!-- Contributor card-->
<!--        <div class="card">-->
<!--            <div class="row">-->
<!--                <div class="col-md-2">-->
<!--                    <img :src=repoData.organization.avatar_url class="img-fluid rounded-start" :alt=repoData.organization.login>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">{{repoData.organization.login}}</h5>-->
<!--                        <p class="card-text"><small class="text-muted">Created {{repoData.created_at}}</small></p>-->
<!--                        <p class="card-text"><small class="text-muted">Last Updated {{repoData.updated_at}}</small></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-2">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text"><small class="text-muted">{{repoData.created_at}} Contributions</small></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>