<div
  class="toast show bg-danger bg-gradient"
  style="position: absolute; top: 0; right: 0"
  data-testid="error"
>
  <div class="toast-header">
    <strong class="me-auto">Error</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
  <div class="toast-body">
    <p>{{ errorMessage }}</p>
  </div>
</div>
