<div class="card">
    <div class="card-body">
        <h5 class="card-title">Stats</h5>
        <!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
        <!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
        <p class="card-text">{{repoData.watchers_count || "[UNDEFINED]"}} Watching</p>
        <p class="card-text">{{repoData.subscribers_count || "[UNDEFINED]"}} Subscribed</p>
        <p class="card-text">{{repoData.stargazers_count || "[UNDEFINED]"}} Starred</p>
        <p class="card-text">{{repoData.forks_count || "[UNDEFINED]"}} Forks</p>
    </div>
</div>