<!--
Card for commit data

- Total commit count
- Avg commits/week
- Avg commits/week in last year
- Contributors by commit count

-->
<h2>Commits</h2>
<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{commitsData.length}} Commits</h5>
            <p class="card-text">example</p>
        </div>
    </div>
</div>