<div class="card">
    <div class="card-body">
        <h5 class="card-title">Licensing</h5>
        <div v-if="repoDataHasKey('license')">
            <p class="card-text">{{repoData.license.name || "[CANNOT FIND]"}}</p> <!-- FIX -->
            <div v-if="repoData.license.url">
                <a :href="repoData.license.url" class="btn btn-primary">License Info</a>
            </div>
        </div>
        <div v-else>
            <p class="card-text">[CANNOT FIND]</p>
        </div>
    </div>
</div>