<div class="card">
    <div class="row">
        <div class="col-md-2">
            <img :src=repoData.owner.avatar_url class="img-fluid rounded-start" :alt=repoData.owner.login>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{repoData.owner.login}}</h5>
                <p class="card-text"><small class="text-muted">Created {{repoData.created_at}}</small></p>
                <p class="card-text"><small class="text-muted">Last Updated {{repoData.updated_at}}</small></p>
            </div>
        </div>
    </div>
</div>