<div>
    <!-- ABOUT CARD -->
    <div class="row">
        <!-- OWNER CARD -->
        <div class="col-md-8">
            <%- include('owner') %>
        </div>

        <!-- Licensing Card -->
        <div class="col-md-4">
            <%- include('license') %>
        </div>
        
    </div>
    
    <!-- Basic Stats Card -->
    <div class="col-sm-4">
        <%- include('basicStats') %>
    </div>
    
<!--    <h2>test</h2>-->
<!--    <p>{{repoData}}</p>-->
</div>