<div>
  <select name="languages" id="langSelector" @change="changeLanguage">
    <option value="en">EN</option>
    <option value="es">ES</option>
    <option value="it">IT</option>
    <option value="sv">SV</option>
    <option value="ru">RU</option>
    <option value="id">ID</option>
    <option value="bg">BG</option>
    <option value="zh-Hans">ZH-Hans</option>
  </select>
  <!-- <button @click="changeLanguage(newLanguage)">Change language</button> -->
</div>
