<!-- searchResults.ejs -->
<template>
    <div>
        <h2>Search Results</h2>
        <ul>
            <li v-for="repo in searchResults" :key="repo.name">
                <strong>Repo:</strong> {{ repo.name }} <br>
                <strong>Description:</strong> {{ repo.description }} <br>
                <strong>URL:</strong> <a :href="repo.html_url">{{ repo.html_url }}</a> <br>
                <strong>Commits URL:</strong> <a :href="repo.commits_url">{{ repo.commits_url }}</a> <br>
                <hr>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['searchResults']
    }
</script>
